.carousel .container {
    width        : auto;
    padding      : 3%;
    color        : #f8f8f8;
    text-align   : left;
    margin-right : 10%;
    border-radius: 5px;
    display      : inline-block;
    font-weight  : 700 !important;
    font-family  : 'Libre Baskerville', serif;
    text-shadow  : 2px 2px 2px rgba(50, 50, 50, .8);
}
.carousel-indicators {
  bottom: 5px;
}
.carousel-inner {
   margin-bottom:50px;
   position:center;
}
.carousel .container h1,
.carousel .container h2 {
    font-weight: 700 !important;

.container {
    width        : auto;
    padding      : 3%;
    color        : #f8f8f8;
    text-align   : left;
    margin-right : 10%;
    border-radius: 5px;
    display      : inline-block;
    font-weight  : 700 !important;
    font-family  : 'Libre Baskerville', serif;

}

.container h1,
.container h2 {
    font-weight: 700 !important;
}

/* @media (min-width: @screen-xs) {
    .mojH1{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    .mojH1{font-size: 14px;}
}


h5{
    font-size: 1.4em;
}  */

@media(max-width: 480px) {
  h2 {
    font-size: 11pt;
  }
}

.centerBlock{
    margin-left:auto;
   margin-right:auto;
   display:center;
}


#map_canvas{
  height: 100%;
}

